<div ng-controller="regiter">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top: 10%">
                    <div class="col-md-5 col-md-offset-4">
                        <div class="jumbotron">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h4> Register</h4>
                                    </div>

                                    <form class="form-horizontal" name="register" ng-submit="registerUser()">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" placeholder="username"
                                                   ng-model="register.name" required>
                                        </div>
                                        <div class="col-md-12" style="margin-top: 2%">
                                            <input type="text" class="form-control" placeholder="email"
                                                   ng-model="register.email" required>
                                        </div>
                                        <div class="col-md-12" style="margin-top: 2%">
                                            <input type="password" class="form-control" placeholder="password"
                                                   ng-model="register.password" required>
                                        </div>
                                        <div class="col-md-12" style="margin-top: 4%" align="center">
                                            <p style="font-size: 12px"> Already have an account, <a
                                                    style="text-decoration: none;cursor: pointer"
                                                    ng-click="gotoSignin()"> Please signIn here</a></p>
                                        </div>
                                        <div class="col-md-8 col-md-offset-2" style="margin-top: 4%">
                                            <button ng-disabled="register.$invalid" type="submit"
                                                    class="btn btn-default btn-primary btn-block"> Register
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>